<form id="alter-table">

    <!-- appt id -->
    <div class="form-group has-error">
        <label class="control-label" for="phn_alter">Patient PHN</label>
        <input type="text" name="phn_alter" class="form-control" id="phn_alter">
    </div>
    <!-- end appt id -->

    <!-- appt id -->
    <div class="form-group has-error">
        <label class="control-label" for="column_alter">Enter the column name you would like to add to patient schema</label>
        <input type="text" name="column_alter" class="form-control" id="column_alter">
    </div>
    <!-- end appt id -->

    <!-- appt id -->
    <div class="form-group has-error">
        <label class="control-label" for="value_alter">Enter the value you would like to insert into new column for this patient</label>
        <input type="text" name="value_alter" class="form-control" id="value_alter">
    </div>
    <!-- end appt id -->

</form>
