<div class="row">
    <div class="col-lg-4">
        <div class="form-group has-error">
            <label class="control-label" for="appm_phn">Patient's PHN</label>
            <select name="appm_phn" class="form-control" id="appm_phn">
                <option value="" selected disabled></option>
            </select>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group has-error">
            <label class="control-label" for="appm_licence">Staff's Licence</label>
            <select name="appm_licence" class="form-control" id="appm_licence">
                <option value="" selected disabled></option>
            </select>
        </div>
    </div>
</div>
<input type="button" name="" class="btn btn-default" value="Find Appointments" id="appm_button"
       onclick="GetALLPatientAppointments()">
<br>
<br>

<table class="table table-striped table-hover ">
    <thead>
    <tr class="danger">
        <th>Date</th>
        <th>Time</th>
        <th>Modify</th>
    </tr>
    </thead>

    <tbody id="appontment-modify-list">

    </tbody>
</table>