<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Patient's information</h4>
                  </div>
                  <div class="modal-body">

                        <!-- USING RECEPTIONIST PATIENT FORM TO EDIT PATIENT INFO -->
                        <comp353-receptionist-register-form></comp353-receptionist-register-form>
                        <!-- END OF EDID FORM -->

                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="SubmitForm('../services/save_pt_info.php', 'register-form');">Save changes</button>
                  </div>
            </div>
      </div>
