<div class="tab-content">
    <!-- first tab -->
    <div id="appointments" class="tab-pane fade in active">
        <table class="table table-striped table-hover ">
            <thead>
            <tr class="danger">
                <th>#</th>
                <th>Patient</th>
                <th>Patient Details</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody id="physicianappointments">

            </tbody>
        </table>
        <comp353-patient-info-modal></comp353-patient-info-modal>
    </div>
    <!-- End of the first tab -->

    <!-- Second tab in the menu -->
    <div id="prescribe" class="tab-pane fade">
        <comp353-physio-write-prescription></comp353-physio-write-prescription>

        <!-- submit from button -->
        <div class="form-group">
                  <span class="input-group-btn">
                        <input class="btn btn-default" value="Submit" type="button" id="form-submit"
                               onclick="SubmitForm('../services/writeprescription.php','physio-write-prescription');"/>Button
                  </span>
        </div>
        <!-- END submit from button -->

    </div>
</div>
