<form id="physio-write-prescription">

    <!-- appt id -->
    <div class="form-group has-error">
        <label class="control-label" for="apptid">Appointment ID</label>
        <input type="text" name="apptid" class="form-control" id="apptid">
    </div>
    <!-- end appt id -->

    <!-- diagnosis -->
    <div class="form-group has-error">
        <label class="control-label" for="diagnosis">Diagnosis</label>
        <input type="text" name="diagnosis" class="form-control" id="diagnosis">
    </div>
    <!-- end diagnosis -->

    <!-- notes -->
    <div class="form-group has-error">
        <label class="control-label" for="notes">Notes</label>
        <input type="text" name="notes" class="form-control" id="notes">
    </div>
    <!-- end notes -->


    <!-- therapy -->
    <div class="form-group has-error">
        <label class="control-label" for="therapy">Therapy</label>
        <input type="text" name="therapy" class="form-control" id="therapy">
    </div>
    <!-- end therapy -->

    <!-- equipment -->
    <div class="form-group has-error">
        <label class="control-label">Equipment</label>
    </div>

    <div class="form-group has-error" id="checklist">
        <label><input type="checkbox" name="equipment" value="1">Stationary Bicycle</label><br/>
        <label><input type="checkbox" name="equipment" value="2">Massage Chair</label><br/>
        <label><input type="checkbox" name="equipment" value="3">Stretcher</label><br/>
        <label><input type="checkbox" name="equipment" value="4">Weights</label><br/>
        <label><input type="checkbox" name="equipment" value="5">Massage Table</label><br/>
        <label><input type="checkbox" name="equipment" value="6">Treadmill</label>
    </div>

    <!-- end equipment -->

      <!--treatment-->
      <div class="form-group has-error">
            <label class="control-label" for="Treatment">Treatment</label>
            <input type="text" class="form-control" name="Treatment" id="treatment">
      </div>
      <!--end treatment-->

</form>



