<form id="write-prescription">

    <!-- name -->
     <div class="row">
            <div class="col-lg-4">
                  <div class="form-group has-error">
                        <label class="control-label" for="firstname">Patient's first name</label>
                        <input type="text" name="firstname" class="form-control" id="firstname">
                  </div>
            </div>

            <div class="col-lg-4">
                  <div class="form-group has-error">
                        <label class="control-label" for="lastname">Patient's last name</label>
                        <input type="text" name="lastname" class="form-control" id="lastname">
                  </div>

            </div>
      </div>
    <!-- end name -->

    <!-- phn -->
      <div class="form-group has-error">
            <label class="control-label" for="phn">PHN</label>
            <input type="text" name="phn" class="form-control" id="phn">
      </div>
    <!-- end phn -->

    <!-- diagnosis -->
      <div class="form-group has-error">
            <label class="control-label" for="machine">Machine</label>
            <input type="text" name="machine" class="form-control" id="machine">
      </div>
    <!-- end diagnosis -->

      <!--medication-->
      <div class="form-group has-error">
            <label class="control-label" for="Treatment">Treatment</label>
            <input type="text" class="form-control" name="Treatment" id="Treatment">
      </div>
      <!--end medication-->

</form>



