<form id="write-prescription">

    <!-- appt id -->
      <div class="form-group has-error">
            <label class="control-label" for="apptid">Appointment ID</label>
            <input type="text" name="apptid" class="form-control" id="apptid">
      </div>
    <!-- end appt id -->

    <!-- diagnosis -->
      <div class="form-group has-error">
            <label class="control-label" for="diagnosis">Diagnosis</label>
            <input type="text" name="diagnosis" class="form-control" id="diagnosis">
      </div>
    <!-- end diagnosis -->

    <!-- notes -->
    <div class="form-group has-error">
        <label class="control-label" for="notes">Notes</label>
        <input type="text" name="notes" class="form-control" id="notes">
    </div>
    <!-- end notes -->

      <!--medication-->
      <div class="form-group has-error">
            <label class="control-label" for="medication">Medication</label>
            <input type="text" class="form-control" name="medication" id="medication">
      </div>
      <!--end medication-->

</form>



