<form id="physio-write-prescription">

    <!-- appt id -->
    <div class="form-group has-error">
        <label class="control-label" for="apptid">Appointment ID</label>
        <input type="text" name="apptid" class="form-control" id="apptid">
    </div>
    <!-- end appt id -->

    <!-- diagnosis -->
    <div class="form-group has-error">
        <label class="control-label" for="diagnosis">Diagnosis</label>
        <input type="text" name="diagnosis" class="form-control" id="diagnosis">
    </div>
    <!-- end diagnosis -->

    <!-- notes -->
    <div class="form-group has-error">
        <label class="control-label" for="notes">Notes</label>
        <input type="text" name="notes" class="form-control" id="notes">
    </div>
    <!-- end notes -->


    <!-- therapy -->
    <div class="form-group has-error">
        <label class="control-label" for="therapy">Therapy</label>
        <input type="text" name="therapy" class="form-control" id="therapy">
    </div>
    <!-- end therapy -->

    <!-- equipment -->
    <div class="form-group has-error">
        <label class="control-label">Equipment</label>
    </div>

    <div class="checkbox" id="equipment_checklist">
        <label><input type="checkbox" name="equipment1" value="1">Stationary Bicycle</label><br/>
        <label><input type="checkbox" name="equipment2" value="2">Massage Chair</label><br/>
        <label><input type="checkbox" name="equipment3" value="3">Stretcher</label><br/>
        <label><input type="checkbox" name="equipment4" value="4">Weights</label><br/>
        <label><input type="checkbox" name="equipment5" value="5">Massage Table</label><br/>
        <label><input type="checkbox" name="equipment6" value="6">Treadmill</label>
    </div>
    <!-- end equipment -->

    <!--treatment-->
    <br/>
    <div class="form-group has-error">
        <label class="control-label">Treatment</label>
    </div>

    <div class="checkbox" id="treatment_checklist">
        <label><input type="checkbox" name="treatment1" value="1">Icing</label><br/>
        <label><input type="checkbox" name="treatment2" value="2">Hydromassage</label><br/>
        <label><input type="checkbox" name="treatment3" value="3">Heat</label><br/>
        <label><input type="checkbox" name="treatment4" value="4">Braces</label><br/>
        <label><input type="checkbox" name="treatment5" value="5">Ice</label><br/>
        <label><input type="checkbox" name="treatment6" value="6">Electrical Stimulation</label><br/>
        <label><input type="checkbox" name="treatment7" value="7">Ultrasound Massage</label>
    </div>
    <!--end treatment-->


</form>



