<div>
    <table class="table table-striped table-hover ">
                <thead>
                <tr class="danger">
                    <th>#</th>
                    <th>Stuff ID</th>
                    <th>Stuff Name</th>
                    <th>Update</th>
                </tr>
                </thead>

                <!-- to be populated from the back end -->
                <tbody id="stuff-list">

                </tbody>
    </table>
    <comp353-Stuff-Info-Modal></comp353-Stuff-Info-Modal>
</div>
