<form id="stuff-update-form">
      <!--phn-->
      <div class="form-group">
            <label class="control-label" for="s_id">Staff ID</label>
            <input class="form-control" name="s_id" id="s_id" value="xxxxxxxx" type="text" placeholder="Disabled input here..." disabled="">
      </div>

      <!-- end phn-->
      <div class="row">
            <div class="col-lg-4">
                  <div class="form-group has-error">
                        <label class="control-label" for="s_firstname">Staff's first name</label>
                        <input type="text" name="s_firstname" class="form-control" id="s_firstname">
                  </div>
            </div>


            <div class="col-lg-4">
                  <div class="form-group has-error">
                        <label class="control-label" for="s_lastname">Staff's last name</label>
                        <input type="text" name="s_lastname" class="form-control" id="s_lastname">
                  </div>
            </div>


      </div>
      <!--sex-->
      <div class="row">
            <div class="col-lg-6">
                  <div class="radio">
                        <label for="s_sex">
                              <input type="radio" name="s_sex" id="s_sex" value="M" checked="">
                                          Male
                        </label>
                  </div>
            </div>

            <div class="col-lg-6">
                  <div class="radio">
                        <label for="s_sex">
                              <input type="radio" name="s_sex" id="s_sex" value="F">
                                    Female
                        </label>
                  </div>
            </div>
      </div>
      <!--end sex -->


      <!--date of birth-->
      <div class="form-group has-error">
            <label class="control-label" for="s_dob">Date of Birth</label>
            <input type="text" name="s_dob" class="form-control" id="s_dob">
      </div>
      <!--end date of birth-->

      <!--email-->
      <div class="form-group has-error">
            <label class="control-label" for="s_email">Staff's Email</label>
            <input type="text" class="form-control" name="s_email" id="s_email">
      </div>
      <!--end email-->

</form>
