<form id="stuff-update-form">
      <!--licenseno-->
      <div class="form-group">
            <label class="control-label" for="s_id">Staff License No</label>
            <input class="form-control" name="s_id" id="s_id" disabled="" placeholder="LicenseNo">
      </div>

      <!-- end licenseno-->
      <div class="row">
            <div class="col-lg-4">
                  <div class="form-group has-error">
                        <label class="control-label" for="s_firstname">Staff's first name</label>
                        <input type="text" name="s_firstname" class="form-control" id="s_firstname">
                  </div>
            </div>


            <div class="col-lg-4">
                  <div class="form-group has-error">
                        <label class="control-label" for="s_lastname">Staff's last name</label>
                        <input type="text" name="s_lastname" class="form-control" id="s_lastname">
                  </div>
            </div>
      </div>

</form>
