<div class="tab-content">
    <!-- first tab appointments -->
    <div id="appointments-tab" class="tab-pane fade in active">
        <h1>Coming Appointments</h1>

        <div class="btn-toolbar">
            <div class="btn-group" id="date-range">

            </div>
        </div>

        <table class="table table-striped table-hover ">
            <thead>
            <tr class="danger">
                <th>PHN</th>
                <th>Patient</th>
                <th>License No</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            </thead>

            <!-- to be populated from the back end -->
            <tbody id="appointments">

            </tbody>
        </table>
    </div>
    <!-- End of first tab -->

    <!-- REGISTER REFERRAL -->
    <div id="register-referral" class="tab-pane fade">
        <h1>Register a Referral</h1>
        <comp353-register-referral></comp353-register-referral>
        <div class="form-group">
                  <span class="input-group-btn">
                        <input class="btn btn-default" value="Submit" type="button" id="form-submit"
                               onclick="SubmitForm('../services/registerReferral.php', 'referral-form');"/>Button
                  </span>
        </div>
    </div>
    <!-- END REGISTER REFERRAL -->

    <!-- make appointment -->
    <div id="make-appointment" class="tab-pane fade">
        <h1>Make an Appointment</h1>
        <h4>Please select referral serial number</h4>

        <div class="form-group">
            <select class="form-control" id="referral-search">
                <option value="" selected disabled></option>
            </select>
        </div>

        <button type="submit" class="btn btn-default" onclick="GetAppointments();">Submit</button>
    </div>
    <!-- end make appointment -->

    <!-- second PATIENT REGISTER TAB -->
    <div id="register-patient" class="tab-pane fade">
        <h1>Register a Patient</h1>
        <comp353-receptionist-register-form></comp353-receptionist-register-form>

        <!-- submit from button -->
        <div class="form-group">
                  <span class="input-group-btn">
                        <input class="btn btn-default" value="Submit" type="submit" id="form-submit-patient"
                               onclick="SubmitForm('../services/create_patient.php', 'register-form');"/>Button
                  </span>
        </div>
        <!-- END submit from button -->
    </div>
    <!-- END of patient register tab -->

    <!-- Receptionist stuff list -->
    <div id="register-stuff-list" class="tab-pane fade">
        <h1>Staff Directory</h1>
        <comp353-receptionist-stuff-list></comp353-receptionist-stuff-list>
    </div>
    <!-- END Receptionist stuff list -->

    <!-- Modify appointments -->
    <div id="appointment-modify-list" class="tab-pane fade">
        <h1>Modify Appointment</h1>
        <h4>Please insert patient's phn and medical staff's licence number</h4>

        <comp353-appointment-modify-list></comp353-appointment-modify-list>
    </div>
    <!--End modify appointments -->
</div>