<div>
    <table class="table table-striped table-hover ">
        <thead>
        <tr class="danger">
            <th>PHN</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>D.O.B.</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Title</th>
            <th>Staff FN</th>
            <th>Staff LN</th>
            <th>Appt Date</th>
            <th>Appt Time</th>
            <th>Diagnosis</th>
            <th>Notes</th>
            <th>Medication</th>
            <th>Therapy</th>
            <th>Treatment</th>
            <th>Equipment</th>
        </tr>
        </thead>

        <!-- to be populated from the back end -->
        <tbody id="therapists-patients-list">

        </tbody>
    </table>
</div>